<!DOCTYPE HTML>
<html>
<head>
  <title>500 Internal Server Error</title>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
	<link rel="apple-touch-icon-152x152" href="/apple-touch-icon.png"/>
		<link rel="apple-touch-icon-152x152-precomposed" href="/apple-touch-icon.png"/>
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/buttons.css') }}">
	<meta content="RandomBot" property="og:title">
	<meta content="Something server side went wrong! If you think this is a mistake join the support server and tell Guacaplushy#0001" property="og:description">
	<meta content="randombot.tk" property="og:url">
	<meta content="" property="og:image">
	<meta content="#43B581" data-react-helmet="true" name="theme-color">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.ico" />
</head>
<body>
  <center><p>Oh no! Something went wrong in the webpage. This is a website code error (probably) and you should tell Guacaplushy#0001 on discord.</p></center>
</body>