<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>RandomBot</title>
	<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
	<link rel="apple-touch-icon-152x152" href="/apple-touch-icon.png"/>
		<link rel="apple-touch-icon-152x152-precomposed" href="/apple-touch-icon.png"/>
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/buttons.css') }}">
	<meta content="RandomBot" property="og:title">
	<meta content="The official webpage for the Discord bot RandomBot, a discord bot for random values." property="og:description">
	<meta content="randombot.tk" property="og:url">
	<meta content="https://cdn.discordapp.com/app-icons/716309071854174268/a7de2db6f154711b022d8045fe2a238c.png?size=512" property="og:image">
	<meta content="#43B581" data-react-helmet="true" name="theme-color">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.ico" />
</head>

<body style="background-color:#0000FF;">
	<center>
		<h1 style="font-family: Arial; font-size: 30px;">Welcome to the official website for RandomBot!</h1>
	</center>
	<center>
		<h2 style="font-family: Arial; font-size: 20px;">RandomBot is a Discord bot for random values.</h2>
	</center>
	<center><a class="Buttons" href="/invite" target="_blank">Invite me!</a></center>
	<hr style="height:5px; visibility:hidden;" />
	<center><a class="Buttons" href="/support" target="_blank">Support server.</a></center>
	<center>
		<hr style="height:2.5px; visibility:hidden;" />
		<p style="font-family: Arial; font-size: 15px;">The developer, GD Tom#0001 decided to make RandomBot for fun. I already
			knew Python, so I googled how to make a bot. Now we are here, with it in more than 40 servers.</p>
		<hr style="height:2.5px; visibility:hidden;" />
		<p>More about RandomBot: It was a useless app I had in the Developer Portal, and I already knew Python. A while went by and then I just thought it would be a fun idea to make a bot. So I googled how and got to work. I scripted up a couple commands and tested them, they worked. And then I started to get the hang of it, and now I've coded more than 15 commands into it.</p>
	</center>
</body>

</html>