<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
	<title>RandomBot Invite</title>
	<meta content="RandomBot" property="og:title">
	<meta content="The link to invite RandomBot, just a redirect." property="og:description">
	<meta content="randombot.daguacaplushy.repl.co" property="og:url">
	<meta content="https://cdn.discordapp.com/app-icons/716309071854174268/a7de2db6f154711b022d8045fe2a238c.png?size=512" property="og:image">
	<meta content="#43B581" data-react-helmet="true" name="theme-color">
	<link href="https://lh3.googleusercontent.com/FNIHPOpStFazAFFo7hEGWjJlhL50m1UAnvc9KhoEu8yyJdcMQBjTpskiST2GopbgmfvYiJGzwsgbyawN4M3c4rQ63mSrysvWxzP__b-fwAYGevYvUxukMA8-2WKhkrQJYSlapLfudTi-m20DlNbh7f2OTJlPkwzdHPS3o4lDGWXhi3Y4Oe07sPYWmNLt0LQnhoEE05JeSc_Ca5c4VHTseVMaUGdYgoQOBKzvPvC64RM6o70kqggAZjmtrrszpcQwrk20Rsf3TltoKqcwTJXPKaLTmHrFNg-dR_XkXo9XNn_e7OuWMhAK-oG7D3DMJjcP8FY_6tLVmHsyviODcNAXKNE7lmo3Ox6Wu9CnGNZSAQYE4iVXqz_R0Vc5bDI7So_hEI9hLZ0-A_orOWTgKunkkpsQmToPFegZi5JawHkHUIYREnRltMoOPJ1FdaxTPE_Z3C6ELmjaX8tmc_SmPdsh8eEXT-7O6B1W7O7P6W9ccjR7u3kd-u42EIb9CBDgUKt1Vvj8fvLOAwhOx54wtFh-mrbyXigDOh1WnYPt5dFVsVd1q4qPsk5K2kBMU5tnmJAYu9z9V-ZxCPBvrxZ6MMvvQHc6v1TxqC-ab_tVkaX_JvRFfy5Dksvt-xC5CVyf41UocoaKGuyczeNb158LFWfMBJZXOZMR0eRe1Sl-d_izuOMBU2rqeVp5Hxjfq0LJ=w700-h800-no"
	 rel="icon" type="image/x-icon" />
  <meta http-equiv = "refresh" content = "0; url = https://discord.com/api/oauth2/authorize?client_id=716309071854174268&permissions=8&scope=bot" />
</head>
<body/>
</html>