<html lang="en">

<head>
	<title>Terminal Logs</title>
	<style>
		body {
			margin: 0;
			padding-left: 1em;
			background-color: #0e1628;
			font-family: monospace;
			min-height: 100vh;
		}

		#page {
			display: flex;
			flex-direction: column-reverse;
			//overflow-y: scroll;
			word-wrap: break-word;
			height: 100vh;
		}

		#messages {
			margin: 1em;
			white-space: pre;
			color: white;
		}

		.error {
			color: #f00
		}

		.result {
			color: #0f0
		}

		.attention {
			color: #ff0
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/xterm@3.8.0/dist/xterm.min.js">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/xterm@3.8.0/dist/addons/fullscreen/fullscreen.min.js">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/xterm@3.8.0/dist/addons/fit/fit.js">

	</script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@3.8.0/dist/xterm.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@3.8.0/dist/addons/fullscreen/fullscreen.min.css">
</head>

<body id="term">
	<script>
		var terminalContainer = document.getElementById('term');
var term = new Terminal({
  cols: 80,
  rows: 20,
  experimentalCharAtlas: 'dynamic',
  fontFamily: 'Monaco, "Ubuntu Mono", "Courier New", Courier, replit-icons, monospace',
  theme: {
	  background: '#0e1628',
  },
});

window.term = term;
window.Terminal.applyAddon(window.fullscreen);
window.Terminal.applyAddon(window.fit);

term.open(terminalContainer);
term.fit();

document.body.onresize = function () {
	return term.fit();
};




function msg(txt, cl) {
	var CSI = '\x1b[';
	if(cl === 'error') {
	  term.write(CSI + '31m');
	} else if (cl === 'result') {
	  term.write(CSI + '32m');
	} else if (cl === 'attention') {
	  term.write(CSI + '33m');
	}

	term.write(txt);

	if (cl) {
		term.write(CSI + 'm');
	}
}

msg('\r\n'); 
msg('connecting to your repl...\r\n');

var tail = new EventSource('/__tail');

tail.addEventListener('evaler', function(e) {
	var cmd = JSON.parse(e.data);
});

tail.addEventListener('interper', function(e) {
	var cmd = JSON.parse(e.data);
	if (cmd.state === 'Stopped') {
	} else if (cmd.state === 'Running') {
		msg('Server starting up\r\n')
	} else if (cmd.output) {
		msg(cmd.output)
	}
});

tail.addEventListener('runner', function(e) {
	var cmd = JSON.parse(e.data);
	if (cmd.error) {
		msg(cmd.error + '\r\n', 'error')
	} else if (cmd.output) {
		msg(cmd.output)
	} else if (cmd.state === 'Stopped') {
	} else if (cmd.state === 'Running') {
		msg('Server starting up\r\n')
	}
});

tail.addEventListener('packager', function(e) {
	var cmd = JSON.parse(e.data);
	if (cmd.ok) {
		msg('packager done\r\n', 'attention')
	} else if (cmd.state === 'Running') {
		msg('started installing packages...\r\n', 'attention')
	} else if (cmd.output) {
		msg(cmd.output.replace(/\n/g, '\r\n'))
	} else if (cmd.error) {
		msg(cmd.error.replace(/\n/g, '\r\n') + '\r\n', 'error')
	}
});

tail.addEventListener('control', function(e) {
	var cmd = JSON.parse(e.data);

	if (cmd.portOpen) {
		if (cmd.portOpen.forwarded) {
			//msg('Port opened! Ready to receive traffic.\r\n', 'result')
		} else {
			msg('A port was opened but we can\'t forward it :(\r\n', 'error')
			msg('Make sure your listening on 0.0.0.0\r\n', 'error')
		}
	} else if (cmd.bootStatus) {

  }
});

tail.addEventListener('status', function(e) {
	msg(e.data + '!\r\n');
});

	</script>
	<div dir="ltr" class="terminal xterm" tabindex="0">
		<div class="xterm-viewport" style="background-color: rgb(14, 22, 40);">
			<div class="xterm-scroll-area" style="height: 918px;"></div>
		</div>
		<div class="xterm-screen" style="width: 1071px; height: 918px;">
			<div class="xterm-helpers"><textarea class="xterm-helper-textarea" aria-label="Terminal input" aria-multiline="false" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0" style=""></textarea><div class="composition-view"></div><span class="xterm-char-measure-element" aria-hidden="true" style="font-family: Monaco, &quot;Ubuntu Mono&quot;, &quot;Courier New&quot;, Courier, replit-icons, monospace; font-size: 15px;">W</span></div><canvas class="xterm-text-layer" width="1071" height="918" style="z-index: 0; width: 1071px; height: 918px;"></canvas><canvas class="xterm-selection-layer" width="1071" height="918" style="z-index: 1; width: 1071px; height: 918px;"></canvas><canvas class="xterm-link-layer" width="1071" height="918" style="z-index: 2; width: 1071px; height: 918px;"></canvas><canvas class="xterm-cursor-layer" width="1071" height="918" style="z-index: 3; width: 1071px; height: 918px;"></canvas></div></div>
</body></html>