<meta content="RandomBot" property="og:title">
<meta content="Raid Notify, send this to other servers if they are getting raided." property="og:description">
<meta content="randombot.tk/raid-notify" property="og:url">
<meta content="https://cdn.discordapp.com/avatars/716309071854174268/da597c1ceb8aac700263b371bc3c1fc2.webp?size=512" property="og:image">
<meta content="#43B581" data-react-helmet="true" name="theme-color">
<meta content="Raid Notify, send this to other servers if they are getting raided." name="Description">
<meta http-equiv="refresh" content="0; url = https://www.youtube.com/watch?v=dQw4w9WgXcQ" />
