<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<title>RandomBot Invite</title>
	<meta content="RandomBot" property="og:title">
	<meta content="The link to the RandomBot support server, just a redirect." property="og:description">
	<meta content="randombot.daguacaplushy.repl.co" property="og:url">
	<meta content="https://cdn.discordapp.com/icons/778368846602960946/355b877b3fec58e4b6e6d78a8ef32853.webp?size=512" property="og:image">
	<meta content="#43B581" data-react-helmet="true" name="theme-color">
	<link href="https://lh3.googleusercontent.com/o9O-IMXXLSGbcDAjobdH0JSvfMBYB-IeH2jWXF02xP64lOUSuSdNxqaMFf-qb5z3k0i9_UXKwArx6DxtRejABT7X03Jp8bwmJ5M7z6ZofM7tlP_CRtErTMzgUIIVfOJ5NyEj-jQT4yhBqO_UYvWV2GbkDIDdZ02h8U0UupZF8q4BUV_hRlARRtHwAU_SZ3tbuDl9hXk4-g5OGUNCWjEFFE1ZqDOVYTN-9r5ofqzI8LYRN0GrLD_TZZWearuEBTcZ-jbYyalXQwVyLRR2rlHBeDRWok6BGIIezL3cgyyXdeMopLVpys1OmfYKDiWmSy-SgGf80-WRXimIvXtUqS11-OLgDOU1FIbEi_uLm_uh7xylcnHwsOIxsrhQk9ITTtssEuHjr_dzXkezn33igtziUl9suekKI1lVzqxEPJhzS3iD9j5SU6QJAtRlrfmTLLK8w6GAV1xoZdXqzln3yy6T6kIGNq7EyFR4Q5of5K9w-ifo6f-teGCcHpjpvj-uzoVJRMN5ABVx69TrdNCWmBRr5Iwxa5p-vc-RjO_NpicHRvvH4WZ5FXFD4pEWyKqMUMqv4ZaaWmSzsIuTFv09WflS9ZvA7G1u2rz1ZJSWUUjtBTb5nvRw_Rpo3P2dgwbwPoWnQhg3RbUKusD-vzZLVEJAk9-5N4br8Kxy-D7LJug5o-kRpUxcdCjWHPZAzx6B=s250-k-rw-no"
	 rel="icon" type="image/x-icon" />
	<meta http-equiv="refresh" content="0; url = https://discord.gg/PFkSPFc7cM" />
</head>

<body>
	<p>Redirecting you to the support server.</p>
</body>

</html>