<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<title>RandomBot Invite</title>
	<meta content="RandomBot" property="og:title">
	<meta content="The link to the RandomBot support server, just a redirect." property="og:description">
	<meta content="randombot.daguacaplushy.repl.co" property="og:url">
	<meta content="https://cdn.discordapp.com/icons/778368846602960946/355b877b3fec58e4b6e6d78a8ef32853.webp?size=512" property="og:image">
	<meta content="#43B581" data-react-helmet="true" name="theme-color">
	<link href="/favicon.ico"
	 rel="icon" type="image/x-icon" />
	<meta http-equiv="refresh" content="0; url = https://discord.gg/PFkSPFc7cM" />
</head>

<body>
	<p>Redirecting you to the support server.</p>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9110419.js"></script>
<!-- End of HubSpot Embed Code -->
</body>

</html>